<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Ticketing System</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-position: center;
        }

        table, th, td {
        border:1px solid black;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
        }

        .content {
            margin:10px;
            position: relative;
            padding-bottom: 20px;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .logo span {
            font-size: 24px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            margin-right: 20px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

    </style>
    <%= javascript_importmap_tags %>
</head>

<header>
        <nav>
            <div class="navbar">
                <div class="logo">
                  <%= image_tag("rail.png", alt: "Train Icon") %>
                  <span>Train Ticketing System</span>
                </div>
                <ul>
                    <li><%= link_to 'Home', root_path %></li>
                    <% if current_user %>
                        <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
                    <%end%>
                    <% unless current_user %>
                        <li><%= link_to 'Login', login_path %></li>
                        <li><%= link_to 'Sign Up', signup_path %></li> 
                    <%end%>
                    <% if current_user && !current_user.admin? %>
                        <li><%= link_to 'Destroy', current_user, data: { turbo_method: :delete } , class: 'btn btn-danger' %></li>
                    <% end %>
                    <% if current_user %>
                        <li><%= link_to 'Logout', logout_path(current_user) %></li>
                    <% end %>
                </ul>
            </div>
        </nav>
</header>

<body>
    <div class="content">
        <%= yield %>
    </div>
</body>
</html>