<header>
        <nav>
            <div class="navbar">
                <div class="logo">
                  <%= image_tag("rail.png", alt: "Train Icon") %>
                  <span>Train Ticketing System</span>
                </div>
                <ul>
                    <li><%= link_to 'Home', root_path %></li>
                    <li><%= link_to 'Edit Account', edit_user_path(current_user) %></li>
                    <% unless current_user && current_user.admin? %>
                        <li><%= link_to 'Destroy', current_user, data: { turbo_method: :delete } , class: 'btn btn-danger' %></li>
                    <% end %>
                    <li><%= link_to 'Logout', logout_path(current_user) %></li>
                </ul>
            </div>
        </nav>
</header>

<h1 style="text-align:center"><%= action_name.capitalize %> Review</h1>

<%= render 'form' %>